/* Navbar */
.navbar {
  background-color: #1E1E1E;
}

.navbardata{
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E1E;
  padding: 10px 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  height: 40px;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Search bar */
.search-container {
  display: flex;
  position: relative;
  width: 600px;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  padding-right: 100px;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background-color: #B1FE4E;
  color: #000;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #a7ec4b;
}

.search-button i {
  margin-right: 5px;
}

/* Right section (notifications and profile) */
.right-section {
  display: flex;
  align-items: center;
}

.notifications {
  position: relative;
  margin-right: 20px;
  color: white;
  font-size: 1.5rem;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.profile {
  font-size: 1.5rem;
  color: white;
}
