<div class="container">
  <header class="logo">
    <img src="assets/logo.png" alt="Stoky Logo">
  </header>

  <div class="search-container">
    <input type="text" placeholder="Describe el producto que estás buscando..." class="search-input" [(ngModel)]="item">
    <button class="search-button" (click)="search()" >
      <i class="fas fa-search"></i> Buscar
    </button>
  </div>

  <div class="tags">
    <span>comida para perros</span>
    <span>juguetes para perros</span>
    <span>cuidado para perros</span>
    <span>accesorios para perros</span>
    <span>entrenamiento para perros</span>
  </div>

  <footer>
    <p>© 2024</p>
  </footer>
</div>
