<app-navbar></app-navbar>

<main class="importing-container">
  <div class="products-container">
    <h3 style="margin-left: 25px;">Productos</h3>
    <div class="products">
      <app-product-selected-card></app-product-selected-card>
      <app-product-selected-card></app-product-selected-card>
      <app-product-selected-card></app-product-selected-card>

      <div class="btns-products">
        <button class="add-product-btn">Agregar un producto</button>
        <button class="add-own-product-btn">Agregar un producto propio</button>
      </div>
    </div>
  </div>
  <div class="dahsboard">
    <h3 style="margin-left: 25px;">Datos de importación</h3>
    <div class="importing-data">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</main>